:root {
  --border-radius: 6px;
  --card-padding: 12px;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.current-weather {
  background-color: skyblue;
  text-align: center;
  padding: var(--card-padding);
  border-radius: var(--border-radius);
}

.location {
  font-size: 1.5rem;
}

.current-temp {
  font-size: 4rem;
}

.temp-range {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.low::after,
.high::after {
  content: '*';
}

.low::before {
  content: 'L:';
  margin-right: 4px;
}

.high::before {
  content: 'H:';
  margin-right: 4px;
}
