:root {
  --border-radius: 6px;
  --card-padding: 12px;
}

body {
  height: 100vh;
  margin: 0;
  font-weight: 500;
}

.app {
  display: flex;
  height: 100%;
  background: linear-gradient(skyblue, lightyellow);
  margin: 0;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.current-weather-container,
.hours-container,
.forecasts-container {
  margin-top: 20px;
  text-align: center;
  padding: var(--card-padding);
  border-radius: var(--border-radius);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px), brightness(100%);
  transition: all 300ms ease-in-out;
}

.current-weather:hover,
.hours-container:hover {
  backdrop-filter: brightness(110%);
}

.hours-container {
  width: 80vw;
}

.current-weather-container {
  width: min(65vw, 260px);
}

.location {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-family: serif;
  width: 100%;
  text-align: center;
  background-color: transparent;
  border: none;
  outline: 2px solid transparent;
  transition: all 300ms ease-in-out;
}

.location:hover,
.location:focus {
  outline: 2px solid black;
}

.location:focus {
  box-shadow: 1px 1px 0 4px black;
}

.current-temp {
  font-size: 4rem;
}

.status {
  font-weight: 500;
}

.temp-range {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.low::after,
.high::after {
  content: '*';
}

.low::before {
  content: 'L:';
  margin-right: 4px;
}

.high::before {
  content: 'H:';
  margin-right: 4px;
}

.hour-list {
  list-style: none;
  padding: 0;
  margin: 0 0;
  display: flex;
  text-align: center;
  overflow-y: scroll;
  scroll-snap-type: x mandatory;
}

.hour-list > li {
  margin: 20px 20px;
  padding: 0 8px;
  scroll-snap-align: start;
}
.hour-list > li > * {
  font-weight: 500;
  margin: 8px 0;
}

.forecast-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: column;
  overflow-y: scroll;
}

.forecast-list > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

img {
  width: 64px;
  margin: 0;
  padding: 0;
  height: auto;
  aspect-ratio: 1;
}

.meter {
  height: 3px;
  border-radius: 12px;
  width: 40px;
  padding: 1px;
  background: linear-gradient(skyblue, lightgreen);
}
